.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  display: flex;
  flex-direction: column;
  background: #f2e4be;
  padding: 0.2em 0.5em;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  border: 4px outset #840000;
  width: 45%;
}

.fighter-preview___prop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fighter-preview___img {
  height: 43vh;
  align-self: center;
}

.title::first-letter {
  text-transform: uppercase;
}

.title {
  color: #840000;
  text-decoration: underline;
  font-weight: 400;
}

.value {
  color: #000;
  font-weight: 600;
}