.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  background-color: #FFDFA7;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border: 3px inset #840000;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 3px outset #840000;
  background: url("/resources/salut.png");
}

.modal___winner-name {
  font-weight: 900;
  font-size: 5em;
  color: #FFDFA7;
  text-shadow: #000 0 0 3px;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}